.one-card {
  background-color: #3b5c95;
  border-radius: 20px;
  width: 800px;
  height: 450px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.card-header-one {
  background-color: #fdc91d;
  border-radius: 20px;
  color: black;
  height: 50px;
  width: 200px;
  padding: 10px;
}
h3 {
  font-size: 20px;
}
.alert{
  width: 800px;
  color: #fdc91d;
  background-color: #3b5c95;
}